@model List<Category>

<div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-6">
            <h2 class="text-primary">
                Lista de Categorías
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary px-4"><i class="bi bi-plus-circle"></i> Nueva categoría</a>
        </div>
    </div>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Categoría</th>
        <th>Orden</th>
       
    </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model.OrderBy(m => m.DisplayOrder))
        {

            <tr>
                <td>
                @cat.Name
            </td>
            <td>
                @cat.DisplayOrder
            </td>
           
            </tr>
        }
    </tbody>


</table>
</div>