@model Category


<div class="card bg-light mb-3">
    
    <div class="card-body">
        <div class="card-title text-primary"> Nueva Categoría</div>
        <p class="card-text">
            <div asp-validation-summary="ModelOnly"></div>
            <form method="post" class="row">
                <div class="mt-0 ">                   

                    @* <div asp-validation-summary="All"></div> *@

                    <div class="form-floating col-12 py-2">
                        <input asp-for="Name" type="text" class="form-control border-0 shadow">
                        <label asp-for="Name" class="ms-1 mt-1"></label>
                        
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-12 py-2">
                        <input asp-for="DisplayOrder" class="form-control border-0 shadow" />
                        <label asp-for="DisplayOrder" class="ms-1 mt-1"></label>
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6 col-md-3">
                            <button class="btn btn-primary form-control" type="submit">Agregar</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a class="btn btn-outline-info form-control" asp-controller="Category" asp-action="Index">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </p>
    </div>
</div>



@section Scripts {    
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}