@page
@model IndexModel

<div class="container p-3 m-3">
    <div class="row pt-3">
        <div class="col-6">
            <h1>Lista de Categorías</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Categories/Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp;Agregar Categoría</a>
        </div>
    </div>

</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Prioridad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model.Categories)
        {
            <tr>
                <td>@cat.Name</td>
                <td>@cat.DisplayOrder</td>
                <td class="text-center">
                    <div class="w-50 btn-group" role="group">
                        <a asp-page="/Categories/Edit" asp-route-id="@cat.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>&nbsp;Modificar</a>
                        <a asp-page="/Categories/Delete" asp-route-id="@cat.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i>&nbsp;Borrar</a>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

