@model ProductVM

<div class="card bg-light mb-3">

    <div class="card-body">
        <div class="card-title text-primary">@(Model.Product.Id!=0?"Actualizar":"Agregar") Producto</div>
        <p class="card-text">
            <div class="row">
                <div class="col-10">
                    <div asp-validation-summary="ModelOnly"></div>
                    <form method="post" enctype="multipart/form-data">
                        <input asp-for="Product.Id" type="hidden" />
                        <input asp-for="Product.ImageUrl" type="hidden" />

                        <div class="mt-0 row">

                            @* <div asp-validation-summary="All"></div> *@

                            <div class="col-12 py-2">
                                <label asp-for="Product.Title" class="ms-1 mt-1"></label>
                                <input asp-for="Product.Title" type="text" class="form-control border-0 shadow">
                                <span asp-validation-for="Product.Title" class="text-danger"></span>
                            </div>

                            <div class="col-12 py-2">
                                <label asp-for="Product.Description" class="ms-1 mt-1"></label>
                                <textarea type="text" asp-for="Product.Description" class="form-control border-0 shadow" ></textarea>
                                <span asp-validation-for="Product.Description" class="text-danger"></span>
                            </div>

                            <div class="col-6 py-2">
                                <label asp-for="Product.PartNumber" class="ms-1 mt-1"></label>
                                <input asp-for="Product.PartNumber" class="form-control border-0 shadow" />
                                <span asp-validation-for="Product.PartNumber" class="text-danger"></span>
                            </div>

                            <div class="col-6 py-2">
                                <label asp-for="Product.Brand" class="ms-1 mt-1"></label>
                                <input asp-for="Product.Brand" class="form-control border-0 shadow" />
                                <span asp-validation-for="Product.Brand" class="text-danger"></span>
                            </div>

                            <div class="col-12 py-2">
                                <label asp-for="Product.CategoryId" class="ms-1 mt-1"></label>
                                @* <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border-0 shadow" >
                                <option> -- Selecciona una categoría -- </option>

                                </select> *@
                                @*  <select asp-for="Product.CategoryId" asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)" class="form-select border-0 shadow">
                                <option> -- Selecciona una categoría -- </option>

                                </select> *@
                                <select asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-select border-0 shadow">
                                    <option> -- Selecciona una categoría -- </option>

                                </select>
                                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                            </div>

                            <div class="col-6 py-2">
                                <label asp-for="Product.Price" class="ms-1 mt-1"></label>
                                <input type="number" asp-for="Product.Price" class="form-control border-0 shadow" />
                                <span asp-validation-for="Product.Price" class="text-danger"></span>
                            </div>

                            <div class="col-6 py-2">
                                <label asp-for="Product.ListPrice" class="ms-1 mt-1"></label>
                                <input asp-for="Product.ListPrice" class="form-control border-0 shadow" />
                                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                            </div>

                            <div class="col-6 py-2">
                                <label asp-for="Product.Price25" class="ms-1 mt-1"></label>
                                <input asp-for="Product.Price25" class="form-control border-0 shadow" />
                                <span asp-validation-for="Product.Price25" class="text-danger"></span>
                            </div>

                            <div class="col-6 py-2">
                                <label asp-for="Product.Price50" class="ms-1 mt-1"></label>
                                <input asp-for="Product.Price50" class="form-control border-0 shadow" />
                                <span asp-validation-for="Product.Price50" class="text-danger"></span>
                            </div>

                            <div class="col-12 py-2">
                                <label asp-for="Product.ImageUrl" class="ms-1 mt-1"></label>
                                <input type="file" name="file" class="form-control border-0 shadow" />
                            </div>

                            <div class="row mt-4">
                                <div class="col-6 col-md-3">
                                    @if (Model.Product.Id != 0)
                                    {
                                        <button class="btn btn-primary form-control" type="submit">Actualizar</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary form-control" type="submit">Agregar</button>
                                    }

                                </div>
                                <div class="col-6 col-md-3">
                                    <a class="btn btn-outline-info form-control" asp-controller="Product" asp-action="Index">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" class="img-thumbnail" style="width: 100%;" />
                </div>

            </div>
            
        </p>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
